:root {
  --orange-1: #ff9800;
  --bluegray-light-1: #37474f;
  --bluegray-dark-1: #101f27;
  --bluegray-dark-2: #000a12;
  --bg: var(--bluegray-dark-1);
  --bg-input: var(--bluegray-light-1);
  --border-dark: var(--bluegray-dark-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'IBM Plex Mono', monospace; }

body {
  font-size: 1.6rem;
  background: var(--bg);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }

::selection {
  background: var(--orange-1);
  color: var(--bluegray-dark-2); }

img,
button,
span {
  user-select: none; }

a {
  color: inherit;
  text-decoration: none; }

.box {
  border: 0.5rem solid var(--border-dark);
  border-radius: 0.5rem;
  height: 30rem;
  max-width: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }

.address {
  font: inherit;
  font-size: 2.25rem;
  background: transparent;
  padding: 0.5em;
  border: none;
  background: var(--bg-input);
  color: var(--orange-1); }
  .address::placeholder {
    color: var(--bg); }

:focus {
  outline: none; }

.balance {
  font-size: 3.6em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .balance:link, .balance:visited {
    color: var(--orange-1);
    transition: opacity 300ms; }
  .balance:hover, .balance:focus, .balance:active {
    opacity: 0.85; }
  .balance span {
    margin-left: 2rem; }
  .balance img {
    display: block;
    width: 5.6rem;
    height: 5.6rem; }

.stats {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

.btn {
  font: inherit;
  font-weight: bold;
  color: var(--border-dark);
  margin-top: 1em;
  padding: 0.5em 1.6em;
  cursor: pointer;
  text-transform: uppercase;
  background: var(--orange-1);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 1em #263238;
  transition: all 300ms; }
  .btn:hover {
    transform: scale(1.05); }

.coin-name {
  padding: 0.5em 1em;
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--orange-1); }

.coin-name.warning {
  color: #ff3d00; }

.supported-coins {
  margin: -1.6rem; }
