:root {
	--orange-1: #ff9800;

	--bluegray-light-1: #37474f;
	--bluegray-dark-1: #101f27;
	--bluegray-dark-2: #000a12;
	--bluegray-dark-2-opaque: hsla(207, 100%, 4%, 0.8);

	--bg: var(--bluegray-dark-1);
	--bg-input: var(--bluegray-light-1);
	--border-dark: var(--bluegray-dark-2);
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: 'Anonymous Pro', monospace;
}

body {
	font-size: 1.8rem;
	background: var(--bg);
	color: whitesmoke;
	min-height: 100vh;
}

::selection {
	background: var(--orange-1);
	color: var(--bluegray-dark-2);
}

img,
button,
span {
	user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.card {
	border: 0.5rem solid var(--border-dark);
	border-radius: 0.5rem;
	height: 30rem;
	max-width: 60rem;
	width: 100%;
	background: var(--bg);

	display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;
	box-shadow: 1rem 0 1.4rem var(--bluegray-dark-2-opaque);
}

.address {
	font: inherit;
	font-size: 2.4rem;
	background: transparent;
	padding: 0.3em 0.5em;
	line-height: 1.4;
	border: none;
	background: var(--bg-input);
	color: var(--orange-1);

	&::placeholder {
		color: var(--bg);
	}
}

:focus {
	outline: none;
}

.balance {
	font-size: 3.6em;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;

	&:link,
	&:visited {
		color: var(--orange-1);
	}

	&:hover span,
	&:focus span,
	&:active span {
	}

	span {
		margin-left: 2rem;
	}

	img {
		display: block;
		width: 5.6rem;
		height: 5.6rem;
	}
}

.stats {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.coin-price-data {
	margin-top: 1em;
	display: flex;
	align-items: center;
	height: 1em;
	margin-bottom: 0.5em;
	transition: all 300ms;

	.coin-price {
		text-align: center;
		font-size: 1.6em;
		display: flex;
		align-items: center;
	}

	.coin-change {
		text-align: center;
		margin-left: 1em;

		&--up {
			fill: rgb(19, 199, 79);
			position: relative;
			top: 3px;
			display: none;
		}

		&--down {
			fill: #ff3d00;
			display: none;
		}
	}
}

.btn {
	font: inherit;
	font-weight: bold;
	color: var(--border-dark);
	margin-top: 1em;
	padding: 0.5em 1.6em;

	cursor: pointer;
	text-transform: uppercase;
	background: var(--orange-1);
	border: none;
	border-radius: 0.5rem;

	box-shadow: 0 .5rem 1em #263238;

	transition: transform 300ms, box-shadow 500ms;

	&:hover {
		transform: scale(1.05);
		box-shadow: 0 0 2rem .4rem hsla(36, 100%, 50%, 0.2);
	}
}

.coin-stats {
	padding: 0.25em 0.5em;
	position: absolute;
	bottom: 0;

	color: var(--bg-input);
	font-weight: bold;
	font-size: 0.85em;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		// color: var(--orange-1);
		font-size: 1.5em;
		margin: 0 0.6rem;
		transform: translateY(-2px);
	}

	&.warning {
		position: relative;
		font-size: 1em;
		top: -10px;
	}
}

.supported-coins {
	margin: -1.6rem;
	img {
		transition: all 350ms;
		width: 36px;
		height: 36px;
		&:hover {
			transform: translateY(-0.8rem) scale(1.25);
		}
	}
}

.coin-label {
	padding: 0.8em;
	text-align: center;
	font-weight: bold;

	position: absolute;
	top: -1em;
	right: -2em;
	width: 10rem;
	border-radius: 0.5rem;
	// background: var(--orange-1);
	background: hsla(36, 100%, 50%, 0.8);
	backdrop-filter: blur(3px);
	color: var(--bluegray-dark-2);
	font-size: 0.85em;

	box-shadow: 0 0 1em #263238;
	opacity: 1;

	transform: rotate(32deg) scale(1);
	transition: transform 350ms, opacity 200ms;
}

.coin-label.hide {
	transform: rotate(32deg) scale(.5);
	opacity: 0;
}

.success {
	fill: rgb(19, 199, 79);
	color: rgb(19, 199, 79);
}

.warning {
	fill: #ff3d00;
	color: #ff3d00;
}
